@use "mixins" as *;

.wp-block-post-featured-image,
.wp-block-post-content .wp-block-image {
	border: 1px solid var(--wp--preset--color--border);
	border-radius: var(--twombly-card--border-radius);
	overflow: hidden;

	a {

		img {
			display: inline-block;

			@include hover-scale;
		}
	}
}

.wp-block-post-template {

	&.is-layout-grid {

		.wp-block-post {

			> .is-style-twombly-card {
				height: 100%;

				.wp-block-read-more {
					color: var(--wp--preset--color--text);
					border: 1px solid var(--wp--preset--color--border);
					border-radius: 20px;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: var(--wp--preset--color--white);
						border-color: var(--wp--preset--color--white);
						transition: all 0.1s ease-in-out;
					}
				}

				.wp-block-post-title {

					a {
						display: inline;
					}
				}
			}
		}

		@media ( max-width: $medium-breakpoint ) {
			grid-template-columns: auto;
		}
	}
}

.wp-block-columns {

	.wp-block-column {

		.is-style-twombly-card:only-child {
			height: 100%;
		}
	}
}

.wp-block-comments-pagination-previous,
.wp-block-comments-pagination-next {
	text-decoration: none;
}

.wp-block-comments-pagination-numbers {

	.page-numbers {
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		border-radius: 0.75rem;
		color: var(--wp--preset--color--text);

		&:hover {
			color: var(--wp--preset--color--white);
		}

		&.current {
			background-color: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--white);
		}
	}
}

.wp-block-buttons {

	.wp-block-button {

		@include hover-scale;
	}
}

.wp-block-social-links {

	.wp-block-social-link {

		@include hover-scale;
	}
}
