$mobile-breakpoint: 599px;

:root {
	--twombly--header-width: 280px;
	--card--border-radius: 16px;
}

// Layout Settings:
.wp-site-blocks.wp-site-blocks { // Doubling up to avoid `flow-root` changing the `display:` away from `grid`
	min-height: calc( 100vh - var( --wp-admin--admin-bar--height, 0 ) );

	box-sizing: border-box;
	max-width: calc( 1.5 * var(--wp--style--global--wide-size) );
	margin: 0 auto;
	padding-left: var( --wp--style--root--padding-left, 0 );
	padding-right: var( --wp--style--root--padding-right, 0 );

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	gap: var( --wp--style--block-gap );

	> * {
		width: calc( 100% - var(--twombly--header-width) - var( --wp--style--block-gap ) );
		margin-left: auto;

	}

	> .wp-block-template-part.header {
		align-self: start;
		box-sizing: border-box;
		width: var(--twombly--header-width);
		flex-grow: 0;
		position: sticky;
		top: calc( var( --wp--style--root--padding-top, 0 ) + var( --wp-admin--admin-bar--height, 0 ) );
	}

	> .wp-block-template-part.footer {
		margin-top: auto;
	}

	@media ( max-width: $mobile-breakpoint ) {
		flex-direction: column;

		> * {
			width: 100%;
		}
		> .wp-block-template-part.header {
			width: 100%;
		}
	}
}

.is-style-twombly-card {
	box-sizing: border-box;
	background-color: var(--wp--preset--color--background);
	border: 1px solid var(--wp--preset--color--border);
	border-radius: var(--card--border-radius);
	padding: 20px !important;
}

.wp-site-blocks > main > * {
	max-width: var(--wp--style--global--wide-size);
	margin-right: auto;
	margin-left: auto;
}

.wp-block-template-part.header {
	.wp-block-navigation__container {
		li {
			padding: 0.5em 1em;
			border-radius: var(--card--border-radius);

			&:hover {
				background: var(--wp--preset--color--base);
				a {
					color: var(--wp--preset--color--white);
				}
			}
		}
	}

	.wp-block-separator {
		border-top-width: 1px;
		opacity: 0.5;
		margin: var( --wp--style--block-gap ) 0;
	}
}

.wp-block-post {
	.wp-block-post-featured-image {
		border: 1px solid var(--wp--preset--color--border);
		border-radius: var(--card--border-radius);
		overflow: hidden;
	}
}

.wp-block-template-part.footer {
	> * {
		// --wp--style--global--content-size or --wp--style--global--wide-size
		max-width: var(--wp--style--global--content-size);
		margin-right: auto;
		margin-left: auto;
	}
}
